# Python 
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Docker 관련
.docker/

# IDE (VSCode, PyCharm 등)
.vscode/
.idea/

# Next.js 관련
/.next/
out/

# Node.js 
/node_modules/
/npm-debug.log
/yarn-debug.log
/yarn-error.log
/pnpm-debug.log/

# 환경 설정 파일
/.env*


# typescript (Next.js 관련)
*.tsbuildinfo
next-env.d.ts

# 기타 파일
.DS_Store
*.pem
